#app {
  padding-top: 45px;

  .loading-animation {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .app-top-nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    animation: app-top-nav-bar-show 1s;
    z-index: 1;
  }
}

@keyframes app-top-nav-bar-show {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}