#home-page {

  .img-banner {
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: -1;
    overflow: hidden;
    
    .img-walker {
      width: 50px;
      bottom: 2px;
      position: absolute;

      &.walker01 {
        left: 65%;
      }

      &.walker02 {
        animation: 30s walker-right infinite linear;
      }

      &.walker03 {
        animation: 30s walker03-left infinite linear;
      }

      &.walker04 {
        animation: 30s walker04-left infinite linear;
      }
    }
  }

  .home-welcome-container {
    height: calc(100vh - 45px);

    .welcome-content-container {
      display: inline-block;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.85);
      top: 50%;
      left: 50%;
      position: relative;
      padding: 30px;
      border-radius: 5px;
      transform: translate(-50%, -50%);

      .welcome-title {
        font-size: 22px;
        font-weight: bold;

        span {
          font-size: 28px;
          color: #ff8000;
        }
      }
    }
  }

  .home-page-content {
    padding: 50px 80px 50px;
    background: #F2F2F2;
    position: relative;

    .btn-scroll-to-content {
      width: 190px;
      height: 160px;
      border-radius: 50%;
      background-color: rgba(255, 255 , 255, 0.4);
      transition: 600ms;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      clip-path: polygon(0% 0%, 0% 50%, 100% 50%, 100% 0%);
      user-select: none;

      cursor: pointer;
      
      &:hover {
        background-color: rgba(255, 255 , 255, 0.8);
      }

      .arrow {
        font-weight: bold;
        font-size: 42px;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -50%);
        position: absolute;

        animation: 2s arrow-animation infinite linear;
      }
    }
  }

  .feature-header-container {
    .header-title {
       padding-bottom: 10px;
       margin: 0 auto 40px;
       border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      .tw {
        font-weight: bold;
        font-size: 24px;
        margin: 0 5px;
        display: inline;
      }

      .en {
        font-size: 16px;
        display: inline;
      }
    }
  }

  .features-content {
    display: flex;
    justify-content: center;
    margin: 0 auto ;
  }

  .feature-item-container {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    width: calc(50% - 40px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    border-radius: 4px;

    + .feature-item-container  {
      margin-left: 50px;
    }

    .feature-item-title {
      font-size: 18px;
      font-weight: bold;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      padding-top: 15px;
      text-align: center;
    }
  }

  .feature-item-main-img-container {
    width: 80%;
    max-width: 180px;
    height: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

    .feature-item-main-img {
      width: 100%;
    }
  }
}

@media(max-width: 650px) {
  #home-page {
    .home-page-content {
      padding: 50px 20px 50px;
    }

    .feature-header-container {
      .header-title {
        margin: 0 10px 30px;
      }
    }
  }
}

@media(max-width: 600px) {
  #home-page {
    .feature-item-container {
      + .feature-item-container  {
        margin-left: 30px;
      }

      .feature-item-main-img-container {
        height: 160px;
      }

      .feature-item-title {
        font-size: 16px;
      }
    }
  }
}

@keyframes walker-right {
  0% {
    left: 15%;
  }

  85% {
    left: 110%;
  }

  86% {
    left: auto;
    right: 110%;
  }
  
  100% {
    right: calc(85% - 50px);
  }
}

@keyframes walker03-left {
  0% {
    left: 30%;
  }

  30% {
    left: -10%;
  }

  31% {
    left: auto;
    right: -10%;
  }
  
  100% {
    right: calc(70% - 50px);
  }
}

@keyframes walker04-left {
  0% {
    left: 75%;
  }

  75% {
    left: -10%;
  }

  76% {
    left: auto;
    right: -10%;
  }
  
  100% {
    right: calc(25% - 50px);
  }
}

@keyframes arrow-animation {
  0% {
    transform: translate(-50%, -50%);
  }

  25% {
    transform: translate(-50%, calc(-50% - 5px));
  }

  75% {
    transform: translate(-50%, calc(-50% + 5px));
  }

  100% {
    transform: translate(-50%, -50%);
  }
}