#authentication-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  min-height: 500px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  padding: 30px 50px;
  box-sizing: border-box;

  .authentication-title {
    font-size: 22px;
    font-weight: bold;

    > .fa-id-card {
      margin-right: 10px;
    }
  }

  .title-seperater-hr {
    margin: 15px 0 40px;
  }

  .authentication-form-item {
    margin-bottom: 15px;
  }

  .auth-submit-btn  {
    width: 100%;
    font-weight: bold;
  }
}

@media(max-width: 600px) {
  #authentication-container {
    margin: 0 20px;
    padding: 30px 30px;
  }
}