#user-login-bar {
  display: flex;
  padding: 0 10px;
  user-select: none;

  .user-default-container {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    > .fa-user {
      margin-right: 5px;
    }

    .user-default-text {
      font-size: 16px;
      padding-top: 1px;
    }
  }

  .user-logged-in-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    .cover-content {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      transition: 300ms;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 100%;
      }
    }

    .user-ctrl-container {
      position: absolute;
      right: 0;
      top: 100%;
    }
  }
}