#user-login-bar {
  display: flex;
  padding: 0 10px;
  user-select: none;

  .user-default-container {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    > .fa-user {
      margin-right: 5px;
    }

    .user-default-text {
      font-size: 16px;
      padding-top: 1px;
    }
  }

  .user-logged-in-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    .cover-content {
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
      }

      .cover-user-name {
        margin-left: 5px;
        font-weight: bold;
      }
    }

    .user-ctrl-container {
      position: absolute;
      right: 0;
      top: 100%;
      transform: scale(0);
      transform-origin: top right;
      transition: transform .15s ease-out, -webkit-transform .15s ease-out;

      &.show {
        transform: scale(1);
      }
    }
  }
}

@media(max-width: 600px) {
  #user-login-bar {
    .cover-user-name {
      display: none;
    }
  }
}